/* Шрифты */
/*
@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
    url('../fonts/Geometria-Regular.woff') format('woff'),
    url('../fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}*/

/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'League Spartan', sans-serif; */

/* Общие стили */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 300;
  color: #616161;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;
}

.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: 1px solid gray;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn--link {
  padding-bottom: 4px;
  border-bottom: 2px solid #8dc2f4;

  font-family: 'League Spartan', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  color: #333333;
  letter-spacing: 5.4px;
}

.btn--buy {
  font-family: 'League Spartan', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  color: #333333;
  letter-spacing: 5.4px;
}

/* ХЕДЕР */

.header {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 7px;
  border-bottom: 2px solid #8cc1f3;
}

/* LOGO */

.logo__link {
  display: flex;
  width: 16px;
  height: 44px;
}

/* Navigation */

.nav-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-menu__item {
  font-family: 'League Spartan', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: #0b0c11;
  letter-spacing: 5.58px;
}

.site-name {
  font-family: 'League Spartan', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: #0b0c11;
  letter-spacing: 5.4px;
}

/* Promo Slider */

.slide__text {
  font-family: 'League Spartan', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: #5da8ef;
  letter-spacing: 5.58px;
}

.slide__title {
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  font-weight: 700;
  color: #0b0c11;
}

.slide__desc {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.controls__num {
  font-family: 'League Spartan', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #5da8ef;
}

/* Social */

.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-bottom: 32px;
}

/* MAIN */

/* Quotation */

.quote .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quote__text {
  width: 610px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 38px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.26px;
}

.quote__author {
  font-family: 'League Spartan', 'Arial', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 5.4px;
}

/* ABOUT SURFING */

.surfing__desc {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  letter-spacing: 0.35px;
}

/* VIDEO */

.surfing__video {
  position: relative;
}

.surfing__video-poster {
  position: absolute;
  top: 0;
  left: 0;
}

/* SHOP */

.shop__suptitle {
  display: block;
  margin-bottom: 4px;
  text-align: center;

  font-family: 'League Spartan', 'Arial', sans-serif;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5da8ef;
  letter-spacing: 5.4px;
}

.shop__title {
  text-align: center;

  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.42px;
}

.shop .slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Product */

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product__category {
  align-self: flex-start;

  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.product__title {
  align-self: flex-start;

  font-family: 'Playfair Display', serif;
  font-size: 26px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.26px;
}

.product__price {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ce60a8;
  letter-spacing: -0.1px;
}

/* ARTICLES */

.article__title {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.42px;
}

.article__text {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  letter-spacing: 0.35px;
}

/* Subscribe */

.subscribe {
  position: relative;
}

.subscribe::before {
  position: absolute;
  content: '';
  top: 114px;
  left: calc(50% - 1px);
  background-color: #5da8ef;
  width: 2px;
  height: 100px;
}

.subscribe .container {
  width: 590px;
  padding-top: 260px;
  padding-bottom: 148px;
}

.subscribe__title {
  margin-bottom: 13px;

  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.42px;
}

.subscribe__desc {
  margin-bottom: 33px;

  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: #616161;

  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
}

.form__input {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f5f5f5;

  border: none;
}

.btn--submit {
  min-width: 50px;
  height: 50px;
  background-color: #5da8ef;
}

/* Camp */

.camp .container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.camp__img {
  width: 720px;
  height: 475px;
}

.camp__desc {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.camp__suptitle {
  margin-bottom: 48px;

  font-family: 'League Spartan', 'Arial', sans-serif;
  font-size: 9px;
  font-weight: 620;
  text-transform: uppercase;
  color: #0b0c11;
  letter-spacing: 5.58px;
}

.camp__title {
  width: 345px;
  padding-left: 50px;
  margin-bottom: 55px;

  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.32px;
}

.camp__link {
  align-self: self-start;
  color: #8dc2f4;
}

/* FOOTER */

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 98px;
  padding-bottom: 96px;
}

.footer .logo {
  margin-bottom: 37px;
}

.footer .foo-nav {
  margin-bottom: 37px;
}

.footer .social {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer .social__item {
  display: flex;
  margin-bottom: 0;
}

.footer .social__item:not(:last-child) {
  margin-right: 42px;
}

.footer .main-menu__item:not(:last-child) {
  margin-right: 68px;
}

.footer .social__link {
  display: flex;
}

/*  */

/*  */
