/* Шрифты */
/*
@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
    url('../fonts/Geometria-Regular.woff') format('woff'),
    url('../fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}*/

/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* Общие стили */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 300;
  color: #616161;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;
}

.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: 1px solid gray;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
}

/* ХЕДЕР */

.header {
  width: 100%;
  background-color: #ffffff;
}

/* Navigation */

.nav-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-name {
  text-transform: uppercase;
}

/*  */

/* MAIN */

/*  */

/*  */

/*  */

/*  */

/* FOOTER */

/*  */

/*  */
